/* roboto-serif-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-serif-v15-latin/roboto-serif-v15-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


p{
	margin: 0;
}

body{
	background: linear-gradient(to right, orange -15%, yellow -59%, red 130%);
	height: 100vh;
}

.cook-navbar{
	    display: flex;
	    background: #ecebeb;
	    justify-content: flex-start;
	    text-decoration: none;
	    list-style: none;
	    font: normal 500 normal 1.4rem / 1.6rem 'Roboto Serif';
	    height: 50px;
	    align-items: center;
}

.cook-navbar nav{
	margin-left: 15px;
}

.cook-navbar li{
	border: 1px solid black;
	border-radius: 15px;
	background: lightgray;
	padding: 5px;
}

.cook-navbar nav{
	    display: flex;
	    gap: 2rem;
}

.cook-navbar nav li a{
	color: #003959;
	font: normal 500 normal 1.4rem / 1.6rem 'Roboto Serif';
	text-decoration: none;
}

.cook-navbar nav li a:hover{
	color: #035482;
	cursor: pointer;
}

.landingPage h1 {
	text-align: center;
	margin: 0 0 30px;
	font-size: 1.5em;
	color: #003959;
	font-family: 'Roboto Serif', Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	background: lightgrey;
	padding: 10px;
}



.card {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    font-family: 'Roboto Serif',Arial, sans-serif;
	padding: 15px;
	height: 100%;
	min-height: 360px; /* fixe Höhe für Konsistenz */
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

/* Titel */
.card h2 {
    font-size: 1.5em;
    color: #003959;
	font-family: 'Roboto Serif',Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
}

/* Beschreibung */
.card p {
    font-size: 1em;
	color: #003959;
	font-family: 'Roboto Serif',Arial, sans-serif;
	font-weight: 400;
	text-decoration: none;
}

/* Zutatenliste */
#rezeptListe {
    list-style-type:none;
    padding-left: 20px;       /* Einrückung für die Liste */
    text-align: left;         /* Linksbündig für bessere Lesbarkeit */
	color: #003959;
	font-family: 'Roboto Serif',Arial, sans-serif;
    margin: 0;
    font-size: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Kartenbreite */
	gap: 20px; /* Abstand zwischen Karten */
	padding:  0 20px 20px;
	gap: 20px;
	align-items: stretch; /* sorgt dafür, dass alle Karten gleich hoch sind */
}

#rezeptListe li a{
	text-decoration: none;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#rezeptliste li a div{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}


.card {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-10px); /* hebt das Element optisch an */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border: 2px solid #c0d8fc;
}
